.description__comment_top{
    margin-left: 90px;
    margin-top: 258px;
    width: 311px;
    height: 156px;    
}

.description__image_midle{
    order: 2;
}

.description__comment_midle{
    margin-left: 109px;
    margin-top: 215px;
}

.description__text_midle{
    width: 298px;
    margin-right: 122px;
}

.description__comment_bottom{
    width: 280px;
    height: 144px;
    margin-left: 110px;
    margin-top: 215px;
}

.description__text_bottom{
    width: 310px;
}

.description__content{
    width: 1200px;
    height: 672px;
    margin-bottom: 64px;
    margin-left: 120px;
    display: flex;
}

.descriotion__title{
    font-size: 32px;
    line-height: 36px;
    color: #1A1A1A;
    font-style: normal;
    font-weight: normal;
}

.description__text{
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
    margin-top: 27px;
}

.description__content_top{
    margin-top: 135px;
}
