.header{
  height: 139px;
  display: flex;
  flex-direction: column;
}

.header__contacts{
  height: 40px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: flex-end;
}
.header__list{
    margin-top: 3px;
    margin-bottom: 4px;
    display: flex;
    width: 343px;
    height: 33px;
    justify-content: flex-end;
    letter-spacing: 1px;
}
.header__list li{
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #AAAAAA; 
  margin-right: 28px;
}
.header__contacts li:last-of-type{
    margin-right: 4px;
}
.drop-img_header{
    margin-top: 5px;
   margin-right: 33px;
}

.header__main{
    display: flex;
    height: 99px;
    border-bottom: 1px solid #F4F4F4;
    
}
.header__room{
    margin-left: 120px;
    margin-top: 25px;
    margin-right: 206px;
}
.header__nav{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
}
.header__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 99px;
    margin-left: 9px;
    margin-right: -9px;
}
.header__gps{
    display: flex;
    height: 99px;
}
.header__image{
    margin-left: 301px;
    margin-top: 38px;
}
.header__text{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;    
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: 16px;
}
.header__shop{
    margin-top: 37px;
    margin-left: 50px;
}


